:root {
  --background-color : cornflowerblue;

  --board-background-color : bisque;
  --board-border-color : burlywood;

  --panel-background-color : lightgoldenrodyellow;
  --panel-border-color : burlywood;

  --player0-background-color : white;
  --player1-background-color : #FF3131;
  --player1-border-color : #A42A04;
  --player2-background-color : #FFD700;
  --player2-border-color : #F4BB44;
}

body {
  background-color: var(--background-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.app-container{
  width: 800px;
  height: 800px;
  position: absolute;
  left: 50%;
  top: 10%;
  margin-left: -400px;
}

.panel{
  position: absolute;
  background-color: var(--panel-background-color);
  border : 8px solid var(--panel-border-color);
  z-index: 1;
}

.header{
  left : 54%;
  top : 10px;
  height: 80px;
  width: 300px;
  margin-left : -120px;
}

.header-text{
  font-size : 28px;
  font-weight: bold;
  width : 220px;
  margin : 0;
  position: absolute;
  top : 50%;
  left: 52%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer{
  left: 42%;
  top: 800px;
  height : 80px;
  width: 500px;
  margin-left: -120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer button {
  width: 200px;
  height: 45px;
  margin-left: 25px;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.suggest:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.newGame:hover {
  background-color: #DC143C;
  box-shadow: 0px 15px 20px rgba(220, 20, 60, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 20px;
  width: 640px;
  position: absolute;
  left: 47%;
  margin-left: -250px;
  top: 10%;
  background-color: var(--board-background-color);
  border : 8px solid var(--board-border-color);
  border-radius: 8%;
  -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
  box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
}

.gameCircle {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
}

.plainHover1 :hover{
  border : 5px solid var(--player1-border-color);
}

.plainHover2 :hover{
  border : 5px solid var(--player2-border-color);
}

.player0 {
  background-color: var(--player0-background-color);
  border : 5px solid black;
}

.player1{ 
  background-color: var(--player1-background-color);
  border : 5px solid var(--player1-border-color);
}

.player2{ 
  background-color: var(--player2-background-color);
  border : 5px solid var(--player2-border-color);
}